* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  font-size: 30px;
  text-decoration: none;
  scroll-behavior: smooth;
  
}
a {
  color: white;
}
html,
body {
  margin: 0;
  background-color: whitesmoke;
}
.root {
  position: relative;
}

.sidebar {
  position: fixed;
  background-color: black;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 20px;
  color: whitesmoke;
  transition: 1s;
}
.sidebar img {
  width: 200px;
  margin: 50px;
}
.name {
  margin: 70px 10px;
}
.name h1 {
  font-size: 45px;
  transform: rotate(270deg);
}
.main {
  max-width: 2000px;
  margin-left: 300px;
  height: 100%;
  border: solid green;
  padding: 20px;
}
.ham-icon img {
  width: 40px;
  position: fixed;
  z-index: 10;
  margin: 10px 20px;
}
.ham-icon {
  display: none;
  cursor: pointer;
}
.x-btn {
  display: none;
  font-size: 50px;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: absolute;
  width: 30px;
  right: 10px;
  cursor: pointer;
}
.x-btn:hover {
  color: rgb(51, 51, 51);
}
.navbar {
  margin-top: 60px;
}
.navbar a {
  color: whitesmoke;
  transition: 0.5s;
}
.navbar a:hover {
  transition: 0.5s;
  margin-left: 20px;
}
.navbar div {
  margin: 20px 0;
}
.edu {
  width: 55%;
}
.edu h1 {
  font-size: 40px;
  text-decoration: overline black;
}
.edu img {
  width: 150px;
}
.school {
  box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
hr {
  border-left: 4px solid rgb(0, 0, 0);
}
.cert {
  width: 40%;
  margin: 0 0 0 20px;
  height: 700px;
}
.cert a {
  color: black;
}
.cert h1 {
  text-decoration: overline black;
}
.cert img {
  margin: 20px 0;
  width: 300px;
  transition: 1s;
}
.cert img:hover {
  box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
}
.section {
  display: flex;
  margin-bottom: 200px;
}
.skills {
  margin: 20px 0;
  transition: border 0.2s;
}
.skills img {
  border-radius: 10px;
  height: 130px;
  padding: 10px;
  transition: 0.8s;
}
.skills img:hover {
  transition: border 0.8s;
  box-shadow: 10px 10px 11px 6px rgba(0, 0, 0, 0.17);
}
.panel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 90vh;
  margin: 10px;
  flex: 0.2;
  position: relative;
  transition: flex 3s ease-out;
}
.panel:hover {
  flex: 6;
}
.panel:hover > h3 {
  opacity: 1;
}
.panel h3 {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  transition: opacity 1.4s;
}
.see-more {
  position: absolute;
  z-index: 1;
  right: 10px;
  background-color: white;
  display: inline-block;
  width: 220px;
  height: 70px;
  padding: 15px 10px;
  bottom: 1000px;
  opacity: 0.7;
  border-radius: 35px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}
.see-more b {
  font-size: 25px;
}
.see-more:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.698);
}
#portfolio {
  position: relative;
}
.port-resp {
  display: none;
  flex-wrap: wrap;
}
.port-resp .item {
  margin: 10px;
  height: 400px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
h1,
span {
  font-size: 45px;
}
.home-header {
  width: 78%;
}
.btn {
  margin: 10px 0;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
  padding: 7px 25px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #000000;
  transition: ease-out 0.4s;
}
.btn.ts {
  margin: 10px 0;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 2px;
  padding: 7px 25px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #000000;
  transition: ease-out 0.4s;
}
.btn:hover {
  transition: ease-out 0.4s;
  box-shadow: inset 0 400px 0 0 rgb(0, 0, 0);
  color: #ffffff;
}
.btn.ts:hover {
  transition: ease-out 0.4s;
  box-shadow: inset 0 400px 0 0 rgb(243, 170, 35);
  color: rgb(0, 0, 0);
}
.home-contact img {
  max-width: 60px;
  margin: 5px;
  box-shadow: 2px 2px 8px 4px rgba(82, 81, 81, 0.39);
  border-radius: 50px;
}
.home-contact {
  margin-top: 20px;
}
.see-more-but {
  display: none;
}
.skills img:nth-child(1) {
  width: 300px;
}
.panel-logo {
  width: 35px;
}
@media screen and (max-width: 1200px) {
  #portfolio-panel {
    display: none;
  }
  h1 {
    font-size: 35px;
  }
  span {
    font-size: 35px;
  }
  .x-btn {
    display: block;
  }
  .ham-icon {
    display: block;
  }
  .sidebar {
    width: 0;
  }
  .sidebar img {
    width: 0;
  }
  .main {
    flex-direction: column;
    margin-left: 80px;
  }
  .section {
    flex-direction: column;
  }
  .cert {
    margin: 20px 0;
    width: 100%;
  }
  .edu {
    width: 100%;
  }
  .edu div {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  * {
    font-size: 25px;
  }
  .skills {
    display: flex;
    align-items: center;
  }
  .icon img {
    margin: 5px;
  }
  .port-resp {
    display: flex;
  }
  .see-more-but {
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .cert {
    width: 40%;
    margin: 0;
    height: auto;
  }
  .cert a {
    font-size: 25px;
  }
  .cert img {
    width: 200px;
  }
  .cert {
    margin: 0 0 0 50px;
  }
}
@media screen and (max-width: 420px) {
  * {
    font-size: 18px;
  }
  .cert {
    width: 20%;
  }
  .skills img:nth-child(1) {
    width: 250px;
  }
  .cert a {
    font-size: 18px;
  }
  .cert img {
    width: 200px;
  }
  .cert {
    margin: 0 0 0 0px;
  }
}